
@{
    ViewBag.Title = "GameStatistics";
}
<canvas class="myCanvas" id="myCanvas" width="300" height="50">
    Your browser does not support the canvas element.
</canvas>
<script>
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
    ctx.font = "30px Palatino Linotype";

    // Create gradient
    var grd = ctx.createLinearGradient(0, 500, 750, 0);
    grd.addColorStop(0, "MidnightBlue");
    grd.addColorStop(1, "Aqua");


    // Fill with gradient
    ctx.fillStyle = grd;
    ctx.textAlign = "center";
    ctx.fillText("Game Statistics", canvas.width / 2, canvas.height / 2);
</script>
<hr />
<style>

    .wrap {
        margin-bottom: 30px;
    }

    .changer {
        padding: 3px;
        margin-left: 50%;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
        -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
        box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
        background: #f8f8f8;
        color: #888;
        border: none;
        outline: none;
        display: inline-block;
        cursor: pointer;
    }

    .select-label:after {
        content: '<>';
        font: 11px "Consolas", monospace;
        color: #aaa;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 8px;
        top: 2px;
        padding: 0 0 2px;
        border-bottom: 1px solid #ddd;
        position: absolute;
        pointer-events: none;
    }

    .select-label:before {
        content: '';
        right: 6px;
        top: 0px;
        width: 20px;
        height: 20px;
        background: #f8f8f8;
        position: absolute;
        pointer-events: none;
        display: block;
    }
</style>
<script>
    function changeIframe() {
        document.getElementById("gameIframe").src = document.getElementsByClassName("changer")[0].value;
    }
</script>
<div class="wrap">
    <label class="select-label">
        <select class="changer" onchange="changeIframe()">
            <option value="https://magicseaweed.com/Backdoor-Haifa-Surf-Report/3987/Embed/">Ashdod</option>
            <option value="https://www.beinsports.com/en/2018-fifa-world-cup-russia/statistics#tabs-1-tab/embed/">Ashqelon</option>
            <option value="https://www.transfermarkt.com/weltmeisterschaft-2018/durchschnittsalter/pokalwettbewerb/WM18/saison_id/2017/embed">Backdoor Haifa</option>
        </select>
    </label><br /><br />
    <iframe id="gameIframe" src="https://magicseaweed.com/Backdoor-Haifa-Surf-Report/3987/Embed/" width="940" height="4650" frameborder="0"></iframe>
</div>
<br>
